{{ define "main" }}
<!-- <div id=program-banner>
  <nav id=program-nav class="nav justify-content-center">
    <a class=nav-link href=#full_programm>Full Programm</a>
  <a class=nav-link href=#keynotes>Keynotes</a>
  <a class=nav-link href=#workshops>Workshops</a>
  <a class=nav-link href=#industrial_keynote_speakers>Industrial Keynote Speakers</a>
  
  </nav>
</div> -->


{{/*  <p class=code-of-conduct>All are welcome at the <i>Eurographics 2026</i>.<br>
Attendees, presenters, volunteers and sponsors are subject to the <a class=line
  href=https://eg25.cs.ucl.ac.uk/main/codeofconduct.html/>Eurographics
  2026 Code of Conduct</a>.</p>  */}}

{{ $page := . }}
{{ $days := .Params.timetableDays }}
{{ $weekOverviewBoundaryScratch := newScratch }}
{{ $weekOverviewBoundaryScratch.Set "points" (slice) }}
{{ range $day := $days }}
  {{ range $entry := default (slice) $day.entries }}
    {{ $timeParts := split $entry.time "-" }}
    {{ if eq (len $timeParts) 2 }}
      {{ $weekOverviewBoundaryScratch.Add "points" (slice (index $timeParts 0) (index $timeParts 1)) }}
    {{ end }}
  {{ end }}
{{ end }}
{{ $weekOverviewBoundaries := sort (uniq ($weekOverviewBoundaryScratch.Get "points")) }}
{{ $weekOverviewBoundaryIndex := dict }}
{{ range $idx, $point := $weekOverviewBoundaries }}
  {{ $weekOverviewBoundaryIndex = merge $weekOverviewBoundaryIndex (dict $point $idx) }}
{{ end }}
{{ $keynoteSpeakerIndex := dict "1" 0 "2" 2 "3" 5 "4" 4 "5" 1 "6" 3 }}
{{ $starProgramDetails := default (slice) .Params.starProgramDetails }}
{{ $starLookup := dict }}
{{ range $item := $starProgramDetails }}
  {{ $starLookup = merge $starLookup (dict (printf "%v" $item.number) $item) }}
{{ end }}
{{ $tutorialProgramDetails := default (slice) .Params.tutorialProgramDetails }}
{{ $tutorialLookup := dict }}
{{ range $item := $tutorialProgramDetails }}
  {{ $tutorialLookup = merge $tutorialLookup (dict (printf "%v" $item.number) $item) }}
{{ end }}
{{ $fullPaperProgramDetails := default (slice) site.Data.full_paper_program }}
{{ $fullPaperLookup := dict }}
{{ range $item := $fullPaperProgramDetails }}
  {{ $fullPaperLookup = merge $fullPaperLookup (dict (printf "%v" $item.number) $item) }}
{{ end }}
{{- $shortPaperProgramDetails := default (slice) site.Data.short_paper_program -}}
{{- $shortPaperLookup := dict -}}
{{- range $item := $shortPaperProgramDetails -}}
  {{- $shortPaperLookup = merge $shortPaperLookup (dict (printf "%v" $item.number) $item) -}}
{{- end }}
{{- $educationProgramDetails := default (slice) site.Data.education_program -}}
{{- $educationLookup := dict -}}
{{- range $item := $educationProgramDetails -}}
  {{- $educationLookup = merge $educationLookup (dict (printf "%v" $item.number) $item) -}}
{{- end }}
{{ $submitPageLookup := dict
  "Diversity Panel" "/diversity_panel/#diversity_panel"
  "Sustainability Panel" "/sustainability_panel/#sustainability_panel"
  "Doctoral Consortium" "/doctoral_consortium/#doctoral_consortium"
}}
{{ if $days }}
<h2 id=week_overview>{{T "week_overview" }}</h2>
<div class="week-overview-download">
  <a class="week-overview-download-link" href="{{ "/timetable.ics" | relLangURL }}" download="EG2026-timetable.ics" type="text/calendar">{{ T "download_timetable_ics" }}</a>
</div>

<div class="week-overview-legend" aria-label="Week overview legend">
  <span class="week-overview-legend-item week-overview-session-block session-type-keynote">Keynotes / Fast-Forward</span>
  <span class="week-overview-legend-item week-overview-session-block session-type-full-paper">Full Papers</span>
  <span class="week-overview-legend-item week-overview-session-block session-type-short-paper">Short Papers</span>
  <span class="week-overview-legend-item week-overview-session-block session-type-tutorial">Tutorials</span>
  <span class="week-overview-legend-item week-overview-session-block session-type-star">STARs</span>
  <span class="week-overview-legend-item week-overview-session-block session-type-education">Education</span>
  <span class="week-overview-legend-item week-overview-session-block session-type-panel">Panels</span>
  <span class="week-overview-legend-item week-overview-session-block session-type-poster">Poster</span>
  <span class="week-overview-legend-item week-overview-session-block session-type-community">Community Events</span>
</div>

<div class="week-overview-wrapper">
  <table class="week-overview-table">
    <caption class="visually-hidden">{{T "week_overview" }}</caption>
    <thead>
      <tr>
        <th class="week-overview-heading week-overview-heading-time" scope="col">Time</th>
        {{ range $day := $days }}
        <th class="week-overview-heading" scope="col">{{ $day.label }}</th>
        {{ end }}
      </tr>
    </thead>
    <tbody>
      {{ $weekOverviewSegmentCount := sub (len $weekOverviewBoundaries) 1 }}
      {{ range $segmentIdx, $segmentStart := first $weekOverviewSegmentCount $weekOverviewBoundaries }}
      {{ $segmentEnd := index $weekOverviewBoundaries (add $segmentIdx 1) }}
      {{ $segmentStartParts := split $segmentStart ":" }}
      {{ $segmentEndParts := split $segmentEnd ":" }}
      {{ $segmentStartHour := replaceRE `^0([0-9])$` `$1` (index $segmentStartParts 0) }}
      {{ $segmentStartMinute := replaceRE `^0([0-9])$` `$1` (index $segmentStartParts 1) }}
      {{ $segmentEndHour := replaceRE `^0([0-9])$` `$1` (index $segmentEndParts 0) }}
      {{ $segmentEndMinute := replaceRE `^0([0-9])$` `$1` (index $segmentEndParts 1) }}
      {{ $segmentStartMinutes := add (mul (int $segmentStartHour) 60) (int $segmentStartMinute) }}
      {{ $segmentEndMinutes := add (mul (int $segmentEndHour) 60) (int $segmentEndMinute) }}
      {{ $segmentDuration := sub $segmentEndMinutes $segmentStartMinutes }}
      <tr class="week-overview-row{{ if eq $segmentDuration 15 }} week-overview-row-brief{{ end }}" style="--segment-minutes: {{ $segmentDuration }};">
        <th class="week-overview-time" scope="row">
          <span class="week-overview-time-range">
            <span class="week-overview-time-start">{{ $segmentStart }}</span>
            <span class="week-overview-time-sep" aria-hidden="true">-</span>
            <span class="week-overview-time-end">{{ $segmentEnd }}</span>
          </span>
        </th>
        {{ range $day := $days }}
          {{ $slot := dict }}
          {{ $slotStart := "" }}
          {{ $slotEnd := "" }}
          {{ range $entry := default (slice) $day.entries }}
            {{ $entryTimeParts := split $entry.time "-" }}
            {{ if eq (len $entryTimeParts) 2 }}
              {{ $entryStart := index $entryTimeParts 0 }}
              {{ $entryEnd := index $entryTimeParts 1 }}
              {{ if and (le $entryStart $segmentStart) (ge $entryEnd $segmentEnd) }}
                {{ $slot = $entry }}
                {{ $slotStart = $entryStart }}
                {{ $slotEnd = $entryEnd }}
              {{ end }}
            {{ end }}
          {{ end }}
          {{ if gt (len $slot) 0 }}
            {{ if eq $slotStart $segmentStart }}
              {{ $slotTitle := default "" (index $slot "title") }}
              {{ $slotDetails := default (slice) (index $slot "details") }}
              {{ $slotClass := "session-type-general" }}
              {{ $slotTypeId := "" }}
              {{ $slotTypeQuery := "" }}
              {{ if gt (len (findRE `(?i)full paper` $slotTitle)) 0 }}
                {{ $slotClass = "session-type-full-paper" }}
                {{ $slotTypeId = "full-paper" }}
                {{ $slotTypeQuery = "Full Paper" }}
              {{ else if gt (len (findRE `(?i)short paper` $slotTitle)) 0 }}
                {{ $slotClass = "session-type-short-paper" }}
                {{ $slotTypeId = "short-paper" }}
                {{ $slotTypeQuery = "Short Paper" }}
              {{ else if gt (len (findRE `(?i)tutorial` $slotTitle)) 0 }}
                {{ $slotClass = "session-type-tutorial" }}
                {{ $slotTypeId = "tutorial" }}
                {{ $slotTypeQuery = "Tutorial" }}
              {{ else if gt (len (findRE `(?i)star` $slotTitle)) 0 }}
                {{ $slotClass = "session-type-star" }}
                {{ $slotTypeId = "star" }}
                {{ $slotTypeQuery = "STAR" }}
              {{ else if gt (len (findRE `(?i)education` $slotTitle)) 0 }}
                {{ $slotClass = "session-type-education" }}
                {{ $slotTypeId = "education" }}
                {{ $slotTypeQuery = "Education" }}
              {{ else if gt (len (findRE `(?i)diversity panel|sustainability panel|doctoral consortium` $slotTitle)) 0 }}
                {{ $slotClass = "session-type-panel" }}
              {{ else if gt (len (findRE `(?i)poster` $slotTitle)) 0 }}
                {{ $slotClass = "session-type-poster" }}
                {{ $slotTypeId = "poster" }}
                {{ $slotTypeQuery = "Poster" }}
              {{ else if gt (len (findRE `(?i)keynote|fast-forward|public lecture` $slotTitle)) 0 }}
                {{ $slotClass = "session-type-keynote" }}
                {{ if gt (len (findRE `(?i)keynote` $slotTitle)) 0 }}
                  {{ $slotTypeId = "keynote" }}
                  {{ $slotTypeQuery = "Keynote" }}
                {{ end }}
              {{ else if gt (len (findRE `(?i)opening|closing|general assembly|business meeting|dinner|social event|she-lunch|best paper jury` $slotTitle)) 0 }}
                {{ $slotClass = "session-type-community" }}
              {{ end }}
              {{ $slotKeynoteNumMatches := findRE `[0-9]+` $slotTitle }}
              {{ $slotDisplayTitle := partial "week-overview-label.html" $slotTitle }}
              {{ $slotHref := "" }}
              {{ if eq $slotTypeId "keynote" }}
                {{ if eq (len $slotKeynoteNumMatches) 1 }}
                  {{ $keynoteNumber := index $slotKeynoteNumMatches 0 }}
                  {{ if isset $keynoteSpeakerIndex $keynoteNumber }}
                    {{ $speakerIdx := index $keynoteSpeakerIndex $keynoteNumber }}
                    {{ $slotHref = printf "%s#keynote-speaker-%d" $page.RelPermalink (add $speakerIdx 1) }}
                  {{ end }}
                {{ end }}
              {{ else if isset $submitPageLookup $slotTitle }}
                {{ $slotHref = index $submitPageLookup $slotTitle }}
              {{ else if ne $slotTypeId "" }}
                {{ $slotAnchor := printf "full-program-item-%s-%s-%s-%s" $slotTypeId $day.id (($slot.time | default $segmentStart) | anchorize) ($slotTitle | anchorize) }}
                {{ $slotHref = printf "%s?type=%s#%s" $page.RelPermalink ($slotTypeQuery | urlquery) $slotAnchor }}
              {{ end }}
              {{ $slotRowspan := 1 }}
              {{ if and (isset $weekOverviewBoundaryIndex $slotStart) (isset $weekOverviewBoundaryIndex $slotEnd) }}
                {{ $slotRowspan = sub (index $weekOverviewBoundaryIndex $slotEnd) (index $weekOverviewBoundaryIndex $slotStart) }}
              {{ end }}
              {{ $slotIsSplitKeynote := and (eq $slotTypeId "keynote") (gt (len $slotKeynoteNumMatches) 1) }}
        <td rowspan="{{ $slotRowspan }}" class="week-overview-cell{{ if gt $slotRowspan 1 }} week-overview-cell-spans{{ end }}{{ if and (eq (len $slotDetails) 0) (not $slotIsSplitKeynote) }} week-overview-cell-title-only{{ end }}" data-day="{{ $day.label }}">
              {{ if ne $slotTitle "" }}
                {{ if and (eq $slotTypeId "keynote") (gt (len $slotKeynoteNumMatches) 1) }}
                  {{ $slotContextLabel := "" }}
                  {{ if in $slotTitle ":" }}
                    {{ $slotContextLabel = trim (index (split $slotTitle ":") 0) " " }}
                  {{ end }}
                  {{ if ne $slotContextLabel "" }}
          <p class="week-overview-session-context">{{ $slotContextLabel }}</p>
                  {{ end }}
          <ul class="week-overview-session-list">
                  {{ range $keynoteNumber := $slotKeynoteNumMatches }}
                    {{ $keynoteHref := "" }}
                    {{ if isset $keynoteSpeakerIndex $keynoteNumber }}
                      {{ $speakerIdx := index $keynoteSpeakerIndex $keynoteNumber }}
                      {{ $keynoteHref = printf "%s#keynote-speaker-%d" $page.RelPermalink (add $speakerIdx 1) }}
                    {{ end }}
            <li>
                    {{ if ne $keynoteHref "" }}
              <a class="week-overview-session-link week-overview-session-block session-type-keynote" href="{{ $keynoteHref }}">{{ printf "Keynote %s" $keynoteNumber }}</a>
                    {{ else }}
              <span class="week-overview-session-block session-type-keynote">{{ printf "Keynote %s" $keynoteNumber }}</span>
                    {{ end }}
            </li>
                  {{ end }}
          </ul>
                {{ else if ne $slotHref "" }}
          <a class="week-overview-session-title week-overview-session-block week-overview-session-link {{ $slotClass }}{{ if eq (len $slotDetails) 0 }} week-overview-session-title-single{{ end }}" href="{{ $slotHref }}" title="{{ $slotTitle }}" aria-label="{{ $slotTitle }}">{{ $slotDisplayTitle }}</a>
                {{ else }}
          <p class="week-overview-session-title week-overview-session-block {{ $slotClass }}{{ if eq (len $slotDetails) 0 }} week-overview-session-title-single{{ end }}" title="{{ $slotTitle }}" aria-label="{{ $slotTitle }}">{{ $slotDisplayTitle }}</p>
                {{ end }}
              {{ end }}
              {{ if gt (len $slotDetails) 0 }}
          <ul class="week-overview-session-list{{ if ge (len $slotDetails) 3 }} week-overview-session-list-parallel{{ end }}">
                {{ range $detail := $slotDetails }}
                {{ $detailClass := "session-type-general" }}
                {{ $detailDisplay := partial "week-overview-label.html" $detail }}
                {{ $detailTypeId := "" }}
                {{ $detailTypeQuery := "" }}
                {{ if gt (len (findRE `(?i)full paper` $detail)) 0 }}
                  {{ $detailClass = "session-type-full-paper" }}
                  {{ $detailTypeId = "full-paper" }}
                  {{ $detailTypeQuery = "Full Paper" }}
                {{ else if gt (len (findRE `(?i)short paper` $detail)) 0 }}
                  {{ $detailClass = "session-type-short-paper" }}
                  {{ $detailTypeId = "short-paper" }}
                  {{ $detailTypeQuery = "Short Paper" }}
                {{ else if gt (len (findRE `(?i)tutorial` $detail)) 0 }}
                  {{ $detailClass = "session-type-tutorial" }}
                  {{ $detailTypeId = "tutorial" }}
                  {{ $detailTypeQuery = "Tutorial" }}
                {{ else if gt (len (findRE `(?i)star` $detail)) 0 }}
                  {{ $detailClass = "session-type-star" }}
                  {{ $detailTypeId = "star" }}
                  {{ $detailTypeQuery = "STAR" }}
                {{ else if gt (len (findRE `(?i)education` $detail)) 0 }}
                  {{ $detailClass = "session-type-education" }}
                  {{ $detailTypeId = "education" }}
                  {{ $detailTypeQuery = "Education" }}
                {{ else if gt (len (findRE `(?i)diversity panel|sustainability panel|doctoral consortium` $detail)) 0 }}
                  {{ $detailClass = "session-type-panel" }}
                {{ else if gt (len (findRE `(?i)poster` $detail)) 0 }}
                  {{ $detailClass = "session-type-poster" }}
                  {{ $detailTypeId = "poster" }}
                  {{ $detailTypeQuery = "Poster" }}
                {{ else if gt (len (findRE `(?i)keynote|fast-forward|public lecture` $detail)) 0 }}
                  {{ $detailClass = "session-type-keynote" }}
                  {{ if gt (len (findRE `(?i)keynote` $detail)) 0 }}
                    {{ $detailTypeId = "keynote" }}
                    {{ $detailTypeQuery = "Keynote" }}
                  {{ end }}
                {{ else if gt (len (findRE `(?i)opening|closing|general assembly|business meeting|dinner|social event|she-lunch|best paper jury` $detail)) 0 }}
                  {{ $detailClass = "session-type-community" }}
                {{ end }}
                {{ $detailHref := "" }}
                {{ if eq $detailTypeId "keynote" }}
                  {{ $keynoteNumMatches := findRE `[0-9]+` $detail }}
                  {{ if eq (len $keynoteNumMatches) 1 }}
                    {{ $keynoteNumber := index $keynoteNumMatches 0 }}
                    {{ if isset $keynoteSpeakerIndex $keynoteNumber }}
                      {{ $speakerIdx := index $keynoteSpeakerIndex $keynoteNumber }}
                      {{ $detailHref = printf "%s#keynote-speaker-%d" $page.RelPermalink (add $speakerIdx 1) }}
                    {{ end }}
                  {{ end }}
                {{ else if isset $submitPageLookup $detail }}
                  {{ $detailHref = index $submitPageLookup $detail }}
                {{ else if ne $detailTypeId "" }}
                  {{ if eq $detailTypeId "tutorial" }}
                    {{ $tutorialNumMatch := findRE `[0-9]+` $detail 1 }}
                    {{ if gt (len $tutorialNumMatch) 0 }}
                      {{ $detailHref = printf "%s?type=Tutorial#full-program-item-tutorial-%s" $page.RelPermalink (index $tutorialNumMatch 0) }}
                    {{ end }}
                  {{ end }}
                  {{ if eq $detailHref "" }}
                    {{ $detailAnchor := printf "full-program-item-%s-%s-%s-%s" $detailTypeId $day.id (($slot.time | default $segmentStart) | anchorize) ($detail | anchorize) }}
                    {{ $detailHref = printf "%s?type=%s#%s" $page.RelPermalink ($detailTypeQuery | urlquery) $detailAnchor }}
                  {{ end }}
                {{ end }}
            <li>
                  {{ if ne $detailHref "" }}
              <a class="week-overview-session-link week-overview-session-block {{ $detailClass }}" href="{{ $detailHref }}" title="{{ $detail }}" aria-label="{{ $detail }}">{{ $detailDisplay }}</a>
                  {{ else }}
              <span class="week-overview-session-block {{ $detailClass }}" title="{{ $detail }}" aria-label="{{ $detail }}">{{ $detailDisplay }}</span>
                  {{ end }}
            </li>
                {{ end }}
          </ul>
              {{ end }}
        </td>
            {{ end }}
          {{ else }}
        <td class="week-overview-cell week-overview-cell-empty" data-day="{{ $day.label }}"></td>
          {{ end }}
        {{ end }}
      </tr>
      {{ end }}
    </tbody>
  </table>
</div>

<h2 id=timetable>{{T "timetable" }}</h2>

<ul class="nav nav-tabs timetable-tabs" id="timetable-tabs" role="tablist">
  {{ range $i, $day := $days }}
  <li class="nav-item" role="presentation">
    <button class="nav-link{{ if eq $i 0 }} active{{ end }}"
            id="timetable-{{ $day.id }}-tab"
            data-bs-toggle="tab"
            data-bs-target="#timetable-{{ $day.id }}"
            type="button"
            role="tab"
            aria-controls="timetable-{{ $day.id }}"
            aria-selected="{{ if eq $i 0 }}true{{ else }}false{{ end }}">
      {{ $day.label }}
    </button>
  </li>
  {{ end }}
</ul>

<div class="tab-content timetable-content" id="timetable-tab-content">
  {{ range $i, $day := $days }}
  <div class="tab-pane fade{{ if eq $i 0 }} show active{{ end }}"
       id="timetable-{{ $day.id }}"
       role="tabpanel"
       aria-labelledby="timetable-{{ $day.id }}-tab"
       tabindex="0">
    <h3 class="timetable-day-heading">{{ $day.label }}{{ if $day.date }} <span class="timetable-day-date">({{ $day.date }})</span>{{ end }}</h3>

    {{ $entries := default (slice) $day.entries }}
    {{ if gt (len $entries) 0 }}
      {{ range $entry := $entries }}
      <div class="timetable-entry">
        <p class="timetable-entry-time">{{ $entry.time }}</p>
        {{ $details := default (slice) $entry.details }}
        {{ if and (isset $entry "title") (ne $entry.title "") }}
        {{ $entryTitle := $entry.title }}
        {{ $entryTypeId := "" }}
        {{ $entryTypeQuery := "" }}
        {{ if gt (len (findRE `(?i)full paper` $entryTitle)) 0 }}
          {{ $entryTypeId = "full-paper" }}
          {{ $entryTypeQuery = "Full Paper" }}
        {{ else if gt (len (findRE `(?i)short paper` $entryTitle)) 0 }}
          {{ $entryTypeId = "short-paper" }}
          {{ $entryTypeQuery = "Short Paper" }}
        {{ else if gt (len (findRE `(?i)tutorial` $entryTitle)) 0 }}
          {{ $entryTypeId = "tutorial" }}
          {{ $entryTypeQuery = "Tutorial" }}
        {{ else if gt (len (findRE `(?i)star` $entryTitle)) 0 }}
          {{ $entryTypeId = "star" }}
          {{ $entryTypeQuery = "STAR" }}
        {{ else if gt (len (findRE `(?i)education` $entryTitle)) 0 }}
          {{ $entryTypeId = "education" }}
          {{ $entryTypeQuery = "Education" }}
        {{ else if gt (len (findRE `(?i)keynote` $entryTitle)) 0 }}
          {{ $entryTypeId = "keynote" }}
          {{ $entryTypeQuery = "Keynote" }}
        {{ else if gt (len (findRE `(?i)poster` $entryTitle)) 0 }}
          {{ $entryTypeId = "poster" }}
          {{ $entryTypeQuery = "Poster" }}
        {{ end }}
        <p class="timetable-entry-title{{ if eq (len $details) 0 }} timetable-entry-title-single{{ end }}">
          {{ if ne $entryTypeId "" }}
            {{ if eq $entryTypeId "keynote" }}
              {{ $entryTitle }}
            {{ else }}
              {{ $entryHref := "" }}
              {{ $entryAnchor := printf "full-program-item-%s-%s-%s-%s" $entryTypeId $day.id ($entry.time | anchorize) ($entryTitle | anchorize) }}
              {{ $entryHref = printf "%s?type=%s#%s" $page.RelPermalink ($entryTypeQuery | urlquery) $entryAnchor }}
              <a class="timetable-item-link" href="{{ $entryHref }}">{{ $entryTitle }}</a>
            {{ end }}
          {{ else }}
            {{ $entryTitle }}
          {{ end }}
        </p>
        {{ if eq $entryTypeId "keynote" }}
          {{ $keynoteMatches := findRE `(?i)keynote\s*[0-9]+` $entryTitle }}
          {{ $keynoteTalkTimes := default (slice) $entry.keynoteTalkTimes }}
          {{ if gt (len $keynoteMatches) 0 }}
            <ul class="timetable-keynote-info">
              {{ range $idx, $match := $keynoteMatches }}
                {{ $numMatch := findRE `[0-9]+` $match 1 }}
                {{ if gt (len $numMatch) 0 }}
                  {{ $number := index $numMatch 0 }}
                  {{ $speakerName := "" }}
                  {{ $speakerTitle := "" }}
                  {{ $speakerAnchor := "" }}
                  {{ if isset $keynoteSpeakerIndex $number }}
                    {{ $speakerIdx := index $keynoteSpeakerIndex $number }}
                    {{ if and (ge $speakerIdx 0) (lt $speakerIdx (len $page.Params.speakers)) }}
                      {{ $speaker := index $page.Params.speakers $speakerIdx }}
                      {{ $speakerName = $speaker.name }}
                      {{ $speakerTitle = default "" $speaker.title }}
                      {{ $speakerAnchor = printf "%s#keynote-speaker-%d" $page.RelPermalink (add $speakerIdx 1) }}
                    {{ end }}
                  {{ end }}
                  {{ if ne $speakerName "" }}
                    <li>
                      {{ if gt (len $keynoteTalkTimes) $idx }}
                        <span class="timetable-keynote-start-time">{{ index $keynoteTalkTimes $idx }}</span>
                      {{ end }}
                      {{ if ne $speakerAnchor "" }}
                        <a class="timetable-keynote-name-link" href="{{ $speakerAnchor }}">{{ $speakerName }}</a>
                      {{ else }}
                        <span class="timetable-keynote-name">{{ $speakerName }}</span>
                      {{ end }}
                      {{ if ne $speakerTitle "" }}
                        <span class="timetable-keynote-talk">{{ $speakerTitle }}</span>
                      {{ end }}
                    </li>
                  {{ end }}
                {{ end }}
              {{ end }}
            </ul>
          {{ end }}
        {{ end }}
        {{ end }}
        {{ if gt (len $details) 0 }}
        <ul class="timetable-entry-details{{ if gt (len $details) 1 }} timetable-entry-details-grid{{ end }}"{{ if gt (len $details) 1 }} style="--timetable-detail-columns: {{ len $details }};"{{ end }}>
          {{ range $detail := $details }}
          {{ $detailTypeId := "" }}
          {{ $detailTypeQuery := "" }}
          {{ if gt (len (findRE `(?i)full paper` $detail)) 0 }}
            {{ $detailTypeId = "full-paper" }}
            {{ $detailTypeQuery = "Full Paper" }}
          {{ else if gt (len (findRE `(?i)short paper` $detail)) 0 }}
            {{ $detailTypeId = "short-paper" }}
            {{ $detailTypeQuery = "Short Paper" }}
          {{ else if gt (len (findRE `(?i)tutorial` $detail)) 0 }}
            {{ $detailTypeId = "tutorial" }}
            {{ $detailTypeQuery = "Tutorial" }}
          {{ else if gt (len (findRE `(?i)star` $detail)) 0 }}
            {{ $detailTypeId = "star" }}
            {{ $detailTypeQuery = "STAR" }}
          {{ else if gt (len (findRE `(?i)education` $detail)) 0 }}
            {{ $detailTypeId = "education" }}
            {{ $detailTypeQuery = "Education" }}
          {{ else if gt (len (findRE `(?i)keynote` $detail)) 0 }}
            {{ $detailTypeId = "keynote" }}
            {{ $detailTypeQuery = "Keynote" }}
          {{ else if gt (len (findRE `(?i)poster` $detail)) 0 }}
            {{ $detailTypeId = "poster" }}
            {{ $detailTypeQuery = "Poster" }}
          {{ end }}
          <li>
            {{ if ne $detailTypeId "" }}
              {{ if eq $detailTypeId "keynote" }}
                {{ $detail }}
              {{ else }}
                {{ $detailHref := "" }}
                {{ if eq $detailTypeId "tutorial" }}
                  {{ $tutorialNumMatch := findRE `[0-9]+` $detail 1 }}
                  {{ if gt (len $tutorialNumMatch) 0 }}
                    {{ $detailHref = printf "%s?type=Tutorial#full-program-item-tutorial-%s" $page.RelPermalink (index $tutorialNumMatch 0) }}
                  {{ end }}
                {{ end }}
                {{ if eq $detailHref "" }}
                  {{ $detailAnchor := printf "full-program-item-%s-%s-%s-%s" $detailTypeId $day.id ($entry.time | anchorize) ($detail | anchorize) }}
                  {{ $detailHref = printf "%s?type=%s#%s" $page.RelPermalink ($detailTypeQuery | urlquery) $detailAnchor }}
                {{ end }}
                <a class="timetable-item-link" href="{{ $detailHref }}">{{ $detail }}</a>
              {{ end }}
            {{ else }}
              {{ $detail }}
            {{ end }}
          </li>
          {{ end }}
        </ul>
        {{ end }}
      </div>
      {{ end }}
    {{ else }}
      <p class="timetable-empty">TBA</p>
    {{ end }}
  </div>
  {{ end }}
</div>
{{ end }}

<h2 id=full_programm>{{T "full_programm" }}</h2>

{{ if $days }}
{{ $fullProgramTypes := slice
  (dict "id" "full-paper" "label" "Full Paper" "source" "detail")
  (dict "id" "short-paper" "label" "Short Paper" "source" "detail")
  (dict "id" "tutorial" "label" "Tutorial" "source" "detail")
  (dict "id" "star" "label" "STAR" "source" "detail")
  (dict "id" "education" "label" "Education" "source" "detail")
  (dict "id" "keynote" "label" "Keynote" "source" "title")
  (dict "id" "poster" "label" "Poster" "source" "title")
}}
<ul class="nav nav-tabs program-type-tabs" id="full-program-type-tabs" role="tablist">
  {{ range $i, $type := $fullProgramTypes }}
  <li class="nav-item" role="presentation">
    <button class="nav-link{{ if eq $i 0 }} active{{ end }}"
            id="full-program-{{ $type.id }}-tab"
            data-bs-toggle="tab"
            data-bs-target="#full-program-{{ $type.id }}"
            type="button"
            role="tab"
            aria-controls="full-program-{{ $type.id }}"
            aria-selected="{{ if eq $i 0 }}true{{ else }}false{{ end }}">
      {{ $type.label }}
    </button>
  </li>
  {{ end }}
</ul>

<div class="tab-content program-type-content" id="full-program-type-content">
  {{ range $i, $type := $fullProgramTypes }}
  <div class="tab-pane fade{{ if eq $i 0 }} show active{{ end }}"
       id="full-program-{{ $type.id }}"
       role="tabpanel"
       aria-labelledby="full-program-{{ $type.id }}-tab"
       tabindex="0">
    {{ $scratch := newScratch }}
    {{ $scratch.Set "hasItems" false }}
    {{ $pattern := printf "(?i)%s" (replace $type.label " " "\\s+") }}
    {{ $seenTutorialNumbers := dict }}

    {{ range $day := $days }}
      {{ $entries := default (slice) $day.entries }}
      {{ range $entry := $entries }}
        {{ if eq $type.id "keynote" }}
          {{ $entryTitle := default "" $entry.title }}
          {{ if and (ne $entryTitle "") (gt (len (findRE $pattern $entryTitle)) 0) }}
            {{ $scratch.Set "hasItems" true }}
            {{ $itemAnchor := printf "full-program-item-%s-%s-%s-%s" $type.id $day.id ($entry.time | anchorize) ($entryTitle | anchorize) }}
            <div id="{{ $itemAnchor }}" class="program-type-item">
              <p class="program-type-meta">{{ $day.label }} · {{ $entry.time }}</p>
              {{ $keynoteRows := slice }}
              {{ $keynoteMatches := findRE `(?i)keynote\s*[0-9]+` $entryTitle }}
              {{ range $match := $keynoteMatches }}
                {{ $numMatch := findRE `[0-9]+` $match 1 }}
                {{ if gt (len $numMatch) 0 }}
                  {{ $number := index $numMatch 0 }}
                  {{ $keynoteLabel := printf "Keynote %s" $number }}
                  {{ $row := dict "label" $keynoteLabel "talkTitle" "" "speakerName" "" "speakerAnchor" "" }}
                  {{ if isset $keynoteSpeakerIndex $number }}
                    {{ $speakerIdx := index $keynoteSpeakerIndex $number }}
                    {{ if and (ge $speakerIdx 0) (lt $speakerIdx (len $page.Params.speakers)) }}
                      {{ $speaker := index $page.Params.speakers $speakerIdx }}
                      {{ $speakerTitle := default "" $speaker.title }}
                      {{ $row = dict "label" $keynoteLabel "talkTitle" $speakerTitle "speakerName" $speaker.name "speakerAnchor" (printf "%s#keynote-speaker-%d" $page.RelPermalink (add $speakerIdx 1)) }}
                    {{ end }}
                  {{ end }}
                  {{ $keynoteRows = $keynoteRows | append $row }}
                {{ end }}
              {{ end }}
              {{ if gt (len $keynoteRows) 0 }}
                {{ range $i, $row := $keynoteRows }}
                  <div class="program-type-keynote-row{{ if gt $i 0 }} program-type-keynote-row-split{{ end }}">
                    <p class="program-type-title">{{ $row.label }}</p>
                    {{ if ne $row.talkTitle "" }}
                      <p class="program-type-keynote-talk-title">{{ $row.talkTitle }}</p>
                    {{ end }}
                    {{ if ne $row.speakerName "" }}
                      <p class="program-type-speakers">
                        <a class="program-type-speaker-link" href="{{ $row.speakerAnchor }}">{{ $row.speakerName }}</a>
                      </p>
                    {{ end }}
                  </div>
                {{ end }}
              {{ else }}
                <p class="program-type-title">{{ $entryTitle }}</p>
              {{ end }}
            </div>
          {{ end }}
        {{ else if eq $type.source "detail" }}
          {{ $details := default (slice) $entry.details }}
          {{ range $detail := $details }}
            {{ if gt (len (findRE $pattern $detail)) 0 }}
              {{ if eq $type.id "tutorial" }}
                {{ $tutorialNumbers := findRE `[0-9]+` $detail }}
                {{ if gt (len $tutorialNumbers) 0 }}
                  {{ range $tutorialNum := $tutorialNumbers }}
                    {{ if not (isset $seenTutorialNumbers $tutorialNum) }}
                      {{ $seenTutorialNumbers = merge $seenTutorialNumbers (dict $tutorialNum true) }}
                      {{ $scratch.Set "hasItems" true }}
                      {{ $tutorialAnchor := printf "full-program-item-tutorial-%s" $tutorialNum }}
                      {{ $tutorialLabel := printf "Tutorial %s" $tutorialNum }}
                      {{ $tutorialSlotParts := slice }}
                      {{ $lastTutorialDay := "" }}
                      {{ range $slotDay := $days }}
                        {{ range $slotEntry := default (slice) $slotDay.entries }}
                          {{ $slotDetails := default (slice) $slotEntry.details }}
                          {{ if in $slotDetails $tutorialLabel }}
                            {{ if ne $lastTutorialDay $slotDay.label }}
                              {{ $tutorialSlotParts = $tutorialSlotParts | append $slotDay.label }}
                              {{ $lastTutorialDay = $slotDay.label }}
                            {{ end }}
                            {{ $tutorialSlotParts = $tutorialSlotParts | append $slotEntry.time }}
                          {{ end }}
                        {{ end }}
                      {{ end }}
                      {{ $tutorialMeta := printf "%s · %s" $day.label $entry.time }}
                      {{ if gt (len $tutorialSlotParts) 0 }}
                        {{ $tutorialMeta = delimit $tutorialSlotParts " · " }}
                      {{ end }}
                      <div id="{{ $tutorialAnchor }}" class="program-type-item">
                        <p class="program-type-meta">{{ $tutorialMeta }}</p>
                        <div class="program-type-star-row">
                          <p class="program-type-title">{{ $tutorialLabel }}</p>
                          {{ if isset $tutorialLookup $tutorialNum }}
                            {{ $tutorialItem := index $tutorialLookup $tutorialNum }}
                            {{ if and (isset $tutorialItem "title") (ne $tutorialItem.title "") }}
                              <p class="program-type-star-paper">{{ $tutorialItem.title }}</p>
                            {{ end }}
                            {{ if and (isset $tutorialItem "authors") (ne $tutorialItem.authors "") }}
                              <p class="program-type-star-authors">{{ $tutorialItem.authors }}</p>
                            {{ end }}
                          {{ else }}
                            <p class="program-type-star-paper">{{ $detail }}</p>
                          {{ end }}
                        </div>
                      </div>
                    {{ end }}
                  {{ end }}
                {{ end }}
              {{ else }}
                {{ $scratch.Set "hasItems" true }}
                {{ $itemAnchor := printf "full-program-item-%s-%s-%s-%s" $type.id $day.id ($entry.time | anchorize) ($detail | anchorize) }}
                <div id="{{ $itemAnchor }}" class="program-type-item">
                  <p class="program-type-meta">{{ $day.label }} · {{ $entry.time }}</p>
                  {{ if eq $type.id "full-paper" }}
                    <p class="program-type-title">{{ $detail }}</p>
                    {{ $fullPaperNumMatch := findRE `[0-9]+` $detail 1 }}
                    {{ if gt (len $fullPaperNumMatch) 0 }}
                      {{ $fullPaperNum := index $fullPaperNumMatch 0 }}
                      {{ if isset $fullPaperLookup $fullPaperNum }}
                        {{ $fullPaperItem := index $fullPaperLookup $fullPaperNum }}
                        {{ if and (isset $fullPaperItem "sessionTitle") (ne $fullPaperItem.sessionTitle "") }}
                          <p class="program-type-session">{{ $fullPaperItem.sessionTitle }}</p>
                        {{ end }}
                        {{ $papers := default (slice) $fullPaperItem.papers }}
                        {{ if gt (len $papers) 0 }}
                          <ol class="program-type-paper-list">
                            {{ range $paper := $papers }}
                              <li class="program-type-paper-entry">
                                <p class="program-type-paper-title">{{ $paper.title }}</p>
                                {{ if and (isset $paper "authors") (ne $paper.authors "") }}
                                  <p class="program-type-paper-authors">{{ $paper.authors }}</p>
                                {{ end }}
                              </li>
                            {{ end }}
                          </ol>
                        {{ end }}
                      {{ end }}
                    {{ end }}
                  {{ else if eq $type.id "short-paper" }}
                    <p class="program-type-title">{{ $detail }}</p>
                    {{ $shortPaperNumMatch := findRE `[0-9]+` $detail 1 }}
                    {{ if gt (len $shortPaperNumMatch) 0 }}
                      {{ $shortPaperNum := index $shortPaperNumMatch 0 }}
                      {{ if isset $shortPaperLookup $shortPaperNum }}
                        {{ $shortPaperItem := index $shortPaperLookup $shortPaperNum }}
                        {{ if and (isset $shortPaperItem "sessionTitle") (ne $shortPaperItem.sessionTitle "") }}
                          <p class="program-type-session">{{ $shortPaperItem.sessionTitle }}</p>
                        {{ else if and (isset $shortPaperItem "shortSessionId") (ne $shortPaperItem.shortSessionId "") }}
                          <p class="program-type-session">{{ $shortPaperItem.shortSessionId }}</p>
                        {{ end }}
                        {{ $papers := default (slice) $shortPaperItem.papers }}
                        {{ if gt (len $papers) 0 }}
                          <ol class="program-type-paper-list">
                            {{ range $paper := $papers }}
                              <li class="program-type-paper-entry">
                                <p class="program-type-paper-title">{{ $paper.title }}</p>
                                {{ if and (isset $paper "authors") (ne $paper.authors "") }}
                                  <p class="program-type-paper-authors">{{ $paper.authors }}</p>
                                {{ end }}
                              </li>
                            {{ end }}
                          </ol>
                        {{ end }}
                      {{ end }}
                    {{ end }}
                  {{ else if eq $type.id "education" }}
                    <p class="program-type-title">{{ $detail }}</p>
                    {{ $educationNumMatch := findRE `[0-9]+` $detail 1 }}
                    {{ if gt (len $educationNumMatch) 0 }}
                      {{ $educationNum := index $educationNumMatch 0 }}
                      {{ if isset $educationLookup $educationNum }}
                        {{ $educationItem := index $educationLookup $educationNum }}
                        {{ if and (isset $educationItem "duration") (ne $educationItem.duration "") }}
                          <p class="program-type-session">{{ $educationItem.duration }}</p>
                        {{ end }}
                        {{ $papers := default (slice) $educationItem.papers }}
                        {{ if gt (len $papers) 0 }}
                          <ol class="program-type-paper-list">
                            {{ range $paper := $papers }}
                              <li class="program-type-paper-entry">
                                {{ if and (isset $paper "title") (ne $paper.title "") }}
                                  <p class="program-type-paper-title">{{ $paper.title }}</p>
                                {{ else if and (isset $paper "code") (ne $paper.code "") }}
                                  <p class="program-type-paper-title">{{ $paper.code }}</p>
                                {{ end }}
                                {{ if and (isset $paper "authors") (ne $paper.authors "") }}
                                  <p class="program-type-paper-authors">{{ $paper.authors }}</p>
                                {{ end }}
                              </li>
                            {{ end }}
                          </ol>
                        {{ end }}
                      {{ end }}
                    {{ end }}
                  {{ else if eq $type.id "star" }}
                    {{ $starNumbers := findRE `[0-9]+` $detail }}
                    {{ $starRows := newScratch }}
                    {{ $starRows.Set "hasRows" false }}
                    {{ if and (in $starNumbers "7") (isset $starLookup "7") }}
                      {{ $star7 := index $starLookup "7" }}
                      {{ if and (isset $star7 "slotNote") (ne $star7.slotNote "") }}
                        <p class="program-type-star-slot-note">{{ $star7.slotNote }}</p>
                      {{ end }}
                    {{ end }}
                    {{ range $starIdx, $starNum := $starNumbers }}
                      {{ if isset $starLookup $starNum }}
                        {{ $starRows.Set "hasRows" true }}
                        {{ $starItem := index $starLookup $starNum }}
                        <div class="program-type-star-row{{ if gt $starIdx 0 }} program-type-star-row-split{{ end }}">
                          <p class="program-type-title">{{ printf "STAR %s" $starNum }}</p>
                          {{ if and (isset $starItem "title") (ne $starItem.title "") }}
                            {{ $starDisplayTitle := replaceRE `(?i)\s*\(STAR[0-9]+\)` "" $starItem.title }}
                            <p class="program-type-star-paper">{{ $starDisplayTitle }}</p>
                          {{ end }}
                          {{ if and (isset $starItem "doi") (ne $starItem.doi "") }}
                            <p class="program-type-star-doi"><a href="{{ $starItem.doi }}">{{ $starItem.doi }}</a></p>
                          {{ end }}
                          {{ if and (isset $starItem "authors") (ne $starItem.authors "") }}
                            <p class="program-type-star-authors">{{ $starItem.authors }}</p>
                          {{ end }}
                        </div>
                      {{ end }}
                    {{ end }}
                    {{ if not ($starRows.Get "hasRows") }}
                      <p class="program-type-title">{{ $detail }}</p>
                    {{ end }}
                  {{ else }}
                    <p class="program-type-title">{{ $detail }}</p>
                  {{ end }}
                </div>
              {{ end }}
            {{ end }}
          {{ end }}
        {{ else }}
          {{ $entryTitle := default "" $entry.title }}
          {{ if and (ne $entryTitle "") (gt (len (findRE $pattern $entryTitle)) 0) }}
            {{ $scratch.Set "hasItems" true }}
            {{ $itemAnchor := printf "full-program-item-%s-%s-%s-%s" $type.id $day.id ($entry.time | anchorize) ($entryTitle | anchorize) }}
            <div id="{{ $itemAnchor }}" class="program-type-item">
              <p class="program-type-meta">{{ $day.label }} · {{ $entry.time }}</p>
              <p class="program-type-title">{{ $entryTitle }}</p>
            </div>
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}

    {{ if not ($scratch.Get "hasItems") }}
      <p class="program-type-empty">TBA</p>
    {{ end }}
  </div>
  {{ end }}
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const tabButtons = document.querySelectorAll("#full-program-type-tabs button[data-bs-toggle='tab']");
    if (!tabButtons.length) return;

    const params = new URLSearchParams(window.location.search);
    const requestedType = params.get("type");
    const hashId = window.location.hash ? decodeURIComponent(window.location.hash.slice(1)) : "";
    const scrollToHashTarget = function () {
      if (!hashId) return;
      const targetEl = document.getElementById(hashId);
      if (!targetEl) return;
      targetEl.scrollIntoView({ block: "center" });
    };

    if (requestedType && window.bootstrap && bootstrap.Tab) {
      const tabId = "full-program-" + requestedType.trim().toLowerCase().replace(/\s+/g, "-") + "-tab";
      const target = document.getElementById(tabId);
      if (target) {
        target.addEventListener("shown.bs.tab", scrollToHashTarget, { once: true });
        bootstrap.Tab.getOrCreateInstance(target).show();
      }
    } else {
      scrollToHashTarget();
    }

    tabButtons.forEach((btn) => {
      btn.addEventListener("shown.bs.tab", function () {
        const text = (btn.textContent || "").trim();
        if (!text) return;
        const nextParams = new URLSearchParams(window.location.search);
        nextParams.set("type", text);
        const nextUrl = window.location.pathname + "?" + nextParams.toString() + window.location.hash;
        history.replaceState({}, "", nextUrl);
      });
    });
  });
</script>
{{ else }}
<h4 class=line>{{"TBA"}}</h4>
{{ end }}


    
<h2 id=keynotes>{{T "keynotes" }}</h2>
{{ range $i, $speaker := .Params.speakers }}
<div id="keynote-speaker-{{ add $i 1 }}" class=keynote-container>
    <img src={{ $speaker.portrait }} class=keynote-portrait>
    <div class=keynote-text-container>
    <h3>
      <span class=keynote-name><a href={{ $speaker.url }}>{{ $speaker.name }}</a></span>
    <br>
    <span class=keynote-affiliation>{{ $speaker.affiliation }}</span>
    </h3>
    <p>
    {{ if (not (isset $speaker "title")) | or (eq $speaker.title "") }}
    ({{T "stay_tuned_for_talk_information"}})
    {{"<!--  Posticon. Otherwise show defined icon //-->" | safeHTML}}
    {{ else }}
    <h3><span class=keynote-title>{{ $speaker.title }}</span></h3>
    <p>
      {{ $speaker.abstract }}
    </p>
    {{ end }}
    </p>
    {{ if (isset $speaker "youtube") }}
      <iframe class=keynote-embedded-video src={{ $speaker.youtube }} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    {{end}}
    <p class=keynote-bio>
    {{ if (not (isset $speaker "bio")) | or (eq $speaker.bio "") }}
    <!-- just keep it empty -->
    {{"<!--  Posticon. Otherwise show defined icon //-->" | safeHTML}}
    {{ else }}
    {{ $speaker.bio }}
    {{ end }}
    </p>
    </div>
</div>
{{ end }}   










{{ end }}
